.about_container {
  display: flex;
}
.about_section {
  margin-top: 100px;
  .about_container {
    display: flex;
  }
  .main_image {
    border: 2px solid #e3dec1;
    padding: 10px 10px 25px 10px;
    border-top: none;
    top: 0px;
  }
  .sub_image {
    bottom: -75px;
    right: -75px;
    position: absolute;
  }
  .about_main {
    margin-top: 42px;
    margin-left: 135px;
  }
  .about_text {
    max-width: 486px;
    width: 100%;
  }
  .p_text {
    font-size: 18px;
    line-height: 27px;
    font-family: "Work Sans", sans-serif;
    margin-bottom: 20px;
  }
}
.about_p {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  font-family: "Playfair Display", sans-serif;
  color: #2094e6;
  margin-bottom: 10px;
}
.h2_about {
  margin-bottom: 20px;
  font-size: 45px;
  font-weight: 500;
  font-family: "Playfair Display", sans-serif;
}

// Media Section
/* About us section */
@media (max-width: 1024px) {
  .about_section {
    margin-top: 50px;
    .about_container {
      display: block;
      .about_us {
        display: flex;
        justify-content: center;
        margin: 0 20px;
        .main_image {
          max-width: 50%;
          padding: 0px;
          border: none;
          position: static;
        }
        .sub_image {
          position: static;
          max-width: 50%;
        }
      }
      .about_main {
        margin-left: 15px;
        .h2_about {
          font-size: 30px;
          margin-bottom: 10px;
        }
        .p_text {
          font-size: 13px;
          line-height: 20px;
          margin-top: 15px;
        }
      }
    }
  }
}
